@media (max-width: 1024px){
	
	
}
@media (max-width: 768px){
		
}
@media (max-width: 650px){
	
}

@media (max-width: 480px){
	.app_feature_list {
    	margin: 0 3.8% 25px;
	}
	.grid_menu{
		width:320px;
	}
}

@media (max-width: 320px){
	
	.grid_menu{
		width:320px;
	}
	.app_feature_list {
    margin: 0 5.5% ;
	}
	
	
}